body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-app {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header.header {
  height: 80px;
}

.main-content {
  width: 100%;
}

img.logo {
  width: 300px;
}

.store_img {
  height: 50px;
}

.download_app h2 {
  font-size: 2em;
}

header h1 {
  display: inline-block;
  color: #6a4dd6;
}

header.header {
  display: flex;
  padding: 0px 50px;
}

.privacy {
  padding: 0 50px;
}

/* MEDIA */

@media (max-width: 600px) {
  header h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 600px) {
  img.logo {
    width: 200px;
  }

  .download_app h2 {
    font-size: 1.6em;
  }
}

/* 
    FOOTER
  */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
  font-style: normal;
  font-family: "Nunito", sans-serif;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  padding-right: 10px;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }

  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/* END OF FOOTER */
